:root {
  --color-purple: #4c1dd2;
  --color-purple-btn: rgba(88, 34, 244, 0.58);
  --color-withe-header: rgba(237, 235, 235, 0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18;
  line-height: 140%;
  color: #1f1e1e;
  background-color: var(--color-purple);
  background-image: url('../Assets/logoBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 464px;
  height: 138px;
}

.block {
  display: flex;
  position: relative;
  background-color: var(--color-withe-header);
  width: 1085px;
  height: 778px;
  margin-bottom: 135px;
  border-radius: 33px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 33px;
}